<footer>
  <div class="container">
    <div class="row">
      <div class="col-12">
        {{ page.footer }}
        <img src="/themes/custom/vanity/images/Bildmarke_Zahnarztpraxis_am_Kirchplatz.svg" class = "img-fluid footerlogo">
      </div>
    </div>
  </div>
</footer>
