<div class="specialinfo">
  <div class="container">
    <div class="row">
      {% block content %}
        <div id="block-infoblock">
          {{ content }}
        </div>
      {% endblock %}
    </div>
  </div>
</div>



