.path-user {
  .logo {
    display: none !important;
  }
}
header {
  position: relative;
  background: $white;
  width: 100%;
  height: 48px;
  z-index: 10;
  box-shadow: 0px 3px 6px rgba(112,112,112,0.3);
  @include media-breakpoint-up(lg) {
    height: 140px;
  }
}

main {
  z-index: 1;
  .headerpic {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: top center !important;
    width: 100%;
    height: 50vH;
    @include media-breakpoint-up(sm) {
      height: 60vH;
    }
    @include media-breakpoint-up(lg) {
      height: 75vH;
    }
    @include media-breakpoint-up(xl) {
      height: 85vH;
    }
  }
}

footer {
  background: $primary;
  color: $white;
  min-height: 100px;
  padding: 15px 0;

  a {
    color: $white;
  }

  #block-adress {

  }

  #block-copyright {
    position: relative;
    @include media-breakpoint-up(lg) {
      position: absolute;
      bottom: -15px;
      right: 0;
    }
  }


  #block-social {
    position: relative;
    font-size: 30px;
    @include media-breakpoint-up(lg) {
      position: absolute;
      top: 15px;
      right: 0;
    }
  }
}

