.team {
  /* box-shadow: 0 3px 6px rgba($black, .3); */
  background: $black;
  color: $white;
  margin: 30px 15px;
  height: 100%;

  .image {
    display: flex;
    align-items: center;

    img {
      width: auto;
      margin: 0 auto;
      justify-items: center;
    }
  }
  .content {
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
    padding: 10px 15px;
  }
}
