$headings-margin-bottom: 1rem;

$white: #fff;
$gray-100: #DFDFDF;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #002948;

$grays: ();
$grays: map-merge((
        "100": $gray-100,
        "200": $gray-200,
        "300": $gray-300,
        "400": $gray-400,
        "500": $gray-500,
        "600": $gray-600,
        "700": $gray-700,
        "800": $gray-800,
        "900": $gray-900
),$grays);

$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #8C1842;
$orange: #fd7e14;
$yellow: #FFA22B;
$green: #006D6F;
$teal: #20c997;
$cyan: #e6f1f1;
$teri: #8C1842;

$colors: ();

$colors: map-merge((
        "indigo": $indigo,
        "purple": $purple,
        "pink": $pink,
        "red": $red,
        "orange": $orange,
        "yellow": $yellow,
        "green": $green,
        "teal": $teal,
        "cyan": $cyan,
        "white": $white,
        "gray": $gray-600,
        "gray-dark": $gray-800
),$colors);

$primary: #87C846;
$secondary: #002948;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: $gray-800;
$back1:  #e6eaed;
$back2:  #e6eaed;

