#sliding-popup {
  position: fixed;
  top: 20%;
  left: 15px;
  @include media-breakpoint-up(md) {
    left: 20%;
  }
  @include media-breakpoint-up(lg) {
    left: 35%;
  }
  width: 93% !important;
  bottom: auto !important;
  font: {
    size: 18px;
    weight: normal;
  }
  max-width: 500px;
  background: $white !important;
  border: 2px solid $black;
  h1, h2, h3, p, label, div {
    color: $black;
  }
  @media only screen and (max-width: 600px) {
    position: absolute;
    top: 10px;
    left: 15px;
  }
  .eu-cookie-compliance-banner {
    .popup-content {
      .eu-cookie-compliance-message {
        max-width: 80%;
        margin: 0 0 15px;
      }
      .eu-cookie-compliance-categories {
        .eu-cookie-compliance-category {
          .eu-cookie-compliance-category-description {
            padding-left: 25px;
          }
          label {

          }
          input[type=radio],
          input[type=checkbox] {
            visibility: hidden;
            position: absolute;
          }

          input[type=radio] + label:before,
          input[type=checkbox] + label:before {
            height: 12px;
            width: 12px;
            margin-right: 10px;
            content: " ";
            display: inline-block;
            vertical-align: baseline;
            border: 1px solid $black;
          }

          input[type=radio] + label:before {
            border-radius: 50%;
          }

          input[type=checkbox] + label:before {
            border-radius: 2px;
          }

          input[type=radio]:checked + label:before,
          input[type=checkbox]:checked + label:before {
            background: $primary;
          }
        }
        .eu-cookie-compliance-category-description {

        }
        .eu-cookie-compliance-categories-buttons {
          margin: 15px 0 0;
          button {
            background: #fff;
            border: 2px solid $black;
            color: #000;
            font-weight: normal;
            width: 400px;
            padding: 15px 0;
            @media only screen and (max-width: 500px) {
              width: 285px;
            }
          }
        }
      }
      #popup-buttons {
        float: none !important;
        width: 100%;
        margin: 15px 0;
        button {
          background: $primary;
          color: #fff;
          border: 0;
          width: 400px;
          padding: 15px 0;
          @media only screen and (max-width: 500px) {
            width: 285px;
          }
        }
      }
    }
  }
}
