.referenz {
  /* box-shadow: 0 3px 6px rgba($black, .3); */
  background: $back2;
  margin: 30px 15px;
  height: 100%;

  .image {
    display: flex;
    align-items: center;

    img {
      width: auto;
      margin: 0 auto;
      justify-items: center;
    }
  }
  .content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px 15px;

    .name {
      font: {
        weight: bold;
        size: 22px;
      }
      line-height: 24px;
      @include media-breakpoint-up(md) {
        font: {
          size: 18px;
        }
        line-height: 22px;
      }
    }

    .company {
      font: {
        weight: normal;
        size: 22px;
      }
      line-height: 24px;
      @include media-breakpoint-up(md) {
        font: {
          size: 18px;
        }
        line-height: 22px;
      }
      margin: 0 0 10px;
    }
  }
}
