.paragraph [class^="back-"] {
  p:last-child {
    margin-bottom: 0;
  }
}

.back-1 {
  .field-paragraph-first .inner,
  .field-paragraph-left .inner,
  .field-paragraph-text .inner {
    background: $primary;
    color: $white;
    padding: 0 10px;
  }
}

.back-2 {
  .field-paragraph-right .inner,
  .field-paragraph-second .inner {
    background: $primary;
    color: $white;
    padding: 0 10px;
  }
}

.back-3 {
  .field-paragraph-third .inner {
    background: $primary;
    color: $white;
    padding: 0 10px;
  }
}

.back-4 {
  .field-paragraph-fourth .inner {
    background: $primary;
    color: $white;
    padding: 0 10px;
  }
}
