.pageheader {
  position: relative;
  min-height: 240px;
  margin-bottom: 80px;
  overflow: visible;
  @include media-breakpoint-up(md) {
    min-height: 300px;
    margin-bottom: 0;
    overflow: hidden;
  }
  @include media-breakpoint-up(lg) {
    min-height: 480px;
  }
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -5px;
  .blur {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: brightness(0.7);
    z-index: -1;
  }
  .headerbox {
    color: $black;
    padding: 40px 0 0;

    @include media-breakpoint-up(md) {
      padding: 80px 0 0;
    }
    @include media-breakpoint-up(lg) {
      padding: 150px 0 0;
    }
    z-index: 10;
    .box {
      width: 100%;
      border-bottom: 3px solid $primary;
      @include media-breakpoint-up(md) {
        width: 537px;
      }

      .field-headertitel {
        display: none;
        @extend h2;
        color: $black;
        text-shadow: 0 3px 6px rgba($gray-900,0.5);
        @include media-breakpoint-up(md) {
          display: block;
        }
      }
      .field-text {
        margin: 15px 0;
        text-transform: uppercase;
        /* text-shadow: 0 3px 6px rgba($gray-900,0.5); */
        @include media-breakpoint-down(sm) {
          position: relative;
          color: #000;
          text-shadow: none;
          bottom: 0;
        }
        @include media-breakpoint-up(md) {
          bottom: -205px;
        }
      }
      .field-link {
        display: inline-block;
        @extend .btn-green;
      }
    }
  }
}
