.slick-dots {
  position: relative;
  left: 40%;
  bottom: 10px;
  display: block;
  padding: 1rem 0;
  list-style-type: none;
  @include media-breakpoint-up(sm) {
    left: 45%;
  }
  @include media-breakpoint-up(lg) {
    left: 50%;
  }
  li {
    display: inline-block;
    margin: 0 0.25rem;
    &:only-child {
      display: none;
    }
  }
  button {
    display: block;
    width: 1rem;
    height: 1rem;
    padding: 0;
    border: none;
    border-radius: 100%;
    background-color: $gray-100;
    text-indent: -9999px;
  }
  li.slick-active button {
    background-color: $red;
  }
}

.slick-prev {
  display: none !important;
  position: absolute;
  left: 10px !important;
  top: 40%;
  border: none;
  background: transparent;
  z-index: 2;
  i {
    color:$red;
    font: {
      size: 30px;
    }
    border: 2px solid $red;
    border-radius: 50%;
    padding: 5px 11px 5px 7px;
  }
  @include media-breakpoint-up(md) {
    display: block !important;
  }
}
.slick-next {
  display: none !important;
  position: absolute;
  right: 10px !important;
  top: 40%;
  border: none;
  background: transparent;
  z-index: 2;
  i {
    color:$red;
    font: {
      size: 30px;
    }
    border: 2px solid $red;
    border-radius: 50%;
    padding: 5px 5px 5px 12px;
  }
  @include media-breakpoint-up(md) {
    display: block !important;
  }
}
