.paragraph {

  &.background-signature-primary {
    background: $primary;
    padding: 30px 0 !important;
    a {
      color: $white !important;
      margin: 30px 0 0;
    }
  }

  &.background-signature-secondary {
    background: $secondary;
    padding: 30px 0 !important;
  }

  &.background-signature-custom {
    background: $back1;
    padding: 30px 0 !important;
  }

  &.background-signature-custom2 {
    background: $back2;
    padding: 30px 0 !important;
  }

  .row > h2 {
    @extend .col-12;
  }

  .row > div {
    margin: 0 0 30px !important;
    @include media-breakpoint-up(xl) {
      margin: 0;
    }
  }

  &.title-alt h2 {
    @include text-inverted();
  }

  &.background-custom {
    background-position: center center;
  }

  &.container-fluid.edge2edge {
    padding-left: 0;
    padding-right: 0;
  }

  .desktop {
    display: block;
    /*
    @include media-breakpoint-up(md) {
      display: block;
    }
    */
  }

  .mobile {
    display: none;
    /*
    @include media-breakpoint-up(md) {
      display: none;
    }
     */
  }

}
