{%
  set classes = [
  'aktuelles',
]
%}

{% block paragraph %}
  <section{{ attributes.addClass(classes) }}>
    <div class="container">
      <div class="row {{ content.field_aktiv|render|striptags|trim }}">

        {% block content %}

          <div class="col-12">
            {{ content.	field_aktuelles }}
          </div>

        {% endblock %}

      </div>
    </div>
  </section>
{% endblock paragraph %}
