.paragraph [class^="back-"] {
  p:last-child {
    margin-bottom: 0;
  }
}

.back-1 {
  .field-paragraph-first,
  .field-paragraph-left,
  .field-paragraph-text {
    background: $primary;
    color: $white;
  }
}

.back-2 {
  .field-paragraph-right,
  .field-paragraph-second {
    background: $primary;
    color: $white;
  }
}

.back-3 {
  .field-paragraph-third {
    background: $primary;
    color: $white;
  }
}

.back-4 {
  .field-paragraph-fourth {
    background: $primary;
    color: $white;
  }
}
