body,
.defaultfont {
  color: $black;
  font: {
    family:  "Lato", sans-serif;
    size: 20px;
    weight: 400;
  }
  line-height: 24px;
}

strong,
b {
  font: {
    weight: 700;
  }
}

.invert {
  color: $white;
}

.red {
  color: $red;
}

.green {
  color: $primary;
}

.yellow {
  color: $yellow;
}

.headercolor {
  background: $primary;
}

h1, .h1 {
  color: $black;
  font: {
    size: 30px;
    weight: 700;
  }
  line-height: 36px;

  @include media-breakpoint-up(md) {
    font: {
      size: 423px;
    }
    line-height: 50px;
  }
}

h2, .h2 {
  color: $black;
  font: {
    size: 30px;
    weight: 700;
  }
  line-height: 36px;

  @include media-breakpoint-up(md) {
    font: {
      size: 42px;
    }
    line-height: 50px;
  }
}

h3, .h3 {
  color: $black;
  font: {
    size: 30px;
    weight: 700;
  }
  line-height: 36px;

  @include media-breakpoint-up(md) {
    font: {
      size: 42px;
    }
    line-height: 50px;
  }
}

a:not(.toolbar-icon) {
  color: $primary;
  font: {
    size: 20px;
    weight: 400;
  }
  line-height: 24px;
  text-decoration: none;
  &:hover {
    color: $primary;
    text-decoration: none;
  }
}

.btn-green {
  display: inline-block;
  color: $white;
  font: {
    weight: 400;
  }
  background: $primary;
  box-shadow: 0 3px 6px rgba($black,.3);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  &:hover {
    color: $white;
  }
}

.btn-ghost {
  display: inline-block;
  color: $primary;
  background: $white;
  box-shadow: 0 3px 6px rgba($black,.3);
  font: {
    weight: 400;
  }
  border: 3px solid $primary;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
}
