body,
.defaultfont {
  color: $black;
  font: {
    family: "Kontora-Regular";
    size: 24px;
  }
  line-height: 32px;
}

strong,
b {
  font: {
    family: "Kontora-Bold";
  }
}

.invert {
  color: $white;
}

.red {
  color: $red;
}


.green {
  color: $secondary;
  background: $secondary;
}

.yellow {
  color: $yellow;
}

h1, .h1 {
  color: $black;
  font: {
    family: "Kontora-Bold";
    size: 40px;
  }
  line-height: 42px;

  @include media-breakpoint-up(lg) {
    font: {
      size: 46px;
    }
    line-height: 55px;
  }
}

h2, .h2 {
  color: $black;
  font: {
    family: "Kontora-Bold";
    size: 40px;
  }
  line-height: 42px;

  @include media-breakpoint-up(lg) {
    font: {
      size: 46px;
    }
    line-height: 55px;
  }
}

h3, .h3 {
  color: $black;
  font: {
    family: "Kontora-Bold";
    size: 30px;
  }
  line-height: 32px;
  margin-bottom: 0 !important;
  @include media-breakpoint-up(lg) {
    font: {
      size: 32px;
    }
    line-height: 34px;
  }
}

h4, .h4 {
  color: $black;
  font: {
    family: "Kontora-Bold";
    size: 30px;
  }
  line-height: 32px;
  margin-bottom: 0 !important;
  @include media-breakpoint-up(lg) {
    font: {
      size: 32px;
    }
    line-height: 34px;
  }
}

a:not(.toolbar-icon) {
  color: $primary;
  font: {
    size: 24px;
  }
  line-height: 32px;
  text-decoration: none;
  &:hover {
    color: $primary;
    text-decoration: none;
  }
}

.btn-green {
  display: inline-block;
  color: $white;
  background: $secondary;
  box-shadow: 0 3px 6px rgba($black,.3);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  &:hover {
    color: $white;
  }
}

.btn-ghost {
  display: inline-block;
  color: $secondary;
  background: $white;
  box-shadow: 0 3px 6px rgba($black,.3);
  border: 3px solid $secondary;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
}

.btn-orange {
  display: inline-block;
  color: $white;
  background: $primary;
  box-shadow: 0 3px 6px rgba($black,.3);
  border: 3px solid $primary;
  border-radius: 5px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
}
