header nav {
  @include make-col(12);
  .hamburger {
    position: relative;
    top: 18px;
    float: right;
    margin-right: 15px;
    .hamburger-box {
      width: 20px;
      height: 15px;
      margin: 0;
      .hamburger-inner {
        background-color: $black;
        &:after,
        &:before {
          background-color: $black;
        }
      }
    }
    @include media-breakpoint-up(md) {
      top: 36px;
    }
  }
  .no-margin {
    margin: 0;
  }
  @include media-breakpoint-down(md) {
    .navbar-brand {
      position: relative;
      float: none;
      margin: 0;
      img {
        padding: 0 15px;
        width: 260px;
      }
    }
  }
  .logo,
  .biglogo {
    position: relative;
    left: 10px;
    padding: 5px 0;
    width: 120px;
    height: 120px;
    .img-fluid {
      background: #fff;
      max-width: 45%;
      margin: 5px;
      @include media-breakpoint-up(lg) {
        height: 135px;
        max-width: 90%;
      }
    }
    @include media-breakpoint-up(md) {
      left: 5px;
      top: 10px;
      max-width: 45%;
      margin: 0;
    }
    @include media-breakpoint-up(lg) {
      left: 0;
      top: 0;
    }
    @include media-breakpoint-up(xl) {
      top: 0;
      padding: 0 0 0 20px;
    }
  }
  ul {
    display: flex;
    justify-content: flex-end;
    padding:  0;
    li {
      list-style: none;
      text-align: center;
      padding: 100px 0 5px;
      ul {
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background: $white;
        max-height: 0;
        transition: max-height .8s ease-out;
        overflow: hidden;
        padding: 0;
        margin: 0;
        li {
          display: block;
          padding: $spacer;
          margin: 0 !important;
          a {
            color: $black !important;
            font: {
              size: 20px;
              weight: 400;
            }
            line-height: 24px;
            &:hover {
              color: $green !important;
            }
          }
        }
      }
      list-style: none;
      margin-right: 50px;
      &.open > ul {
        max-height: 500px;
      }
      &:last-child {
        margin-right: 0;
        a,
        a:hover {
          background: $primary !important;
          padding: 5px 10px !important;
          color: $white !important;
        }
      }
      a,
      span {
        color: $black !important;
        padding: 0 0 10px;
        font: {
          size: 20px;
          weight: 400;
        }
        line-height: 24px;
        text-transform: uppercase;
        cursor: pointer;
      }
      a:hover {
        color: $green !important;
      }
      h2 {
        padding: 0;
        margin: 0 0 -10px -2px;
        a {
          color: $black !important;
          font: {
            size: 20px !important;
            weight: 600 !important;
          }
          line-height: 24px !important;

          @include media-breakpoint-up(lg) {
            font: {
              size: 34px !important;
            }
            line-height: 42px !important;
          }
        }
      }
      &.active {
        ul {
          li {
            a {
              color: $black !important;
              pointer-events: auto !important;
            }
          }
        }
      }
      @include media-breakpoint-down(lg) {
        margin-right:20px;
      }
    }
  }
  @include media-breakpoint-down(md) {
    #main-collapse {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background: $white;
    }
    ul {
      flex: 0 0 100% !important;
      max-width: 100% !important;
      flex-direction: column;
      padding:  0 15px;
      margin: 0;
      background: $primary;
      z-index: 100;
      li {
        ul {
          position: relative;
          top:15px;
        }
        position: relative;
        display: block;
        padding: 20px 0;
        width: 100%;
        transition: rotate 3s ease-out;
        text-align: center;
        /*
        &.parent--item {
          &:after {
            content: "\f105";
            font-family: "FontAwesome";
            font-size: 24px;
            position: absolute;
            top: 17px;
            right: 15px;
            color: $black;
            cursor: pointer;
          }
        }
        */
        &.open {
          &:after {
            content: "\f105";
            font-family: "FontAwesome";
            transform: rotate(90deg);
          }
          > ul {
            display: block;
            max-height: 500px;
            transition: max-height 0.1s ease-in;
          }
        }
        a,
        span {
          color: $white !important;
          font: {
            size: 20px !important;
          }
          line-height: 24px !important;
          cursor: pointer;
        }
        h2 {
          margin: 0 0 2px -2px;
        }
      }
    }
  }
}

footer nav {
  ul {
    display: flex;
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      text-align: center;
      padding:  0 40px 0 0;
      a, a:hover {
        color: $white !important;
        font-family: "Rokkitt",sans-serif;
        font-size: 20px;
        line-height: 24px;
        text-decoration: none;
      }
    }
    @include media-breakpoint-down(lg) {
      margin-bottom: 15px;
    }
  }
}
#block-infoblock {
  display: block;
  @include media-breakpoint-up(lg) {
    position: absolute;
    right: 65px;
    top: 15px;
  }
  @include media-breakpoint-up(xl) {
    right: 295px;
  }
  .info {
    width: 100%;
  }
  span {
    font-family: "Rokkitt",sans-serif;
    font-size: 17px;
    margin: 0 30px;
    &:last-child {
      margin: 0;
    }
  }
  a {
    font-family: "Rokkitt",sans-serif;
    color: $red !important;
  }
  @include media-breakpoint-up(lg) {
    color: $red;
  }
}

.drilldown {
  .info{
    background: $primary;
    color: $white;
    width: 100vW;
    text-align: center;
    margin-top: -1px;
    padding: 10px 0;
    span {
      display: block;
      padding: 15px 0;
    }
    a {
      font-family: "Rokkitt",sans-serif;
      color: $white !important;
      padding: 15px 0;
    }
  }
}
