.path-user {
  .logo {
    display: none !important;
  }
}
html {
  overflow-y: scroll;
}
body {
  max-width: 100vW;
  overflow-x: hidden !important;
}
.overlay {
  position: fixed;
  display: none;
  background: $primary;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

header {
  position: relative;
  background: $white;
  width: 100%;
  height: 40px;
  z-index: 10;
  box-shadow: 0px 3px 6px rgba(112,112,112,0.3);
  @include media-breakpoint-up(md) {
    height: 87px;
  }
  @include media-breakpoint-up(lg) {
    height: 140px;
  }
}

main {
  z-index: 1;
  .headerpic {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: top center !important;
    width: 100%;
    height: 50vH;
    @include media-breakpoint-up(sm) {
      height: 60vH;
    }
    @include media-breakpoint-up(lg) {
      height: 75vH;
    }
    @include media-breakpoint-up(xl) {
      height: 85vH;
    }
  }
}

footer {
  background: $primary;
  color: $white;
  min-height: 100px;
  padding: 30px 0;

  p {
    margin-bottom: 0;
  }
  a {
    color: $white;
  }
  .footerlogo {
    display: none;
      @include media-breakpoint-up(md) {
        display: block;
        height: 200px;
        width: 100px;
        position: absolute;
        top: -66px;
        right: 0;
      }
    @include media-breakpoint-up(xl) {
      width: 224px;
      top: -25px;
    }
    }

  #block-adresse {
    margin-bottom: 30px;
    @include media-breakpoint-up(lg) {
      margin-bottom: 30px;
    }
  }

  .company {
    font: {
      size: 25px;
      weight: 600;
    }
  }

  #block-copyright {
    position: relative;
    max-width: 500px;
    font-size: 16px;
    padding: 20px 0 0;
  }


  #block-social {
    position: absolute;
    top: 15px;
    right: 0;
    font-size: 30px;
    a {
      color: $white !important;
    }
  }
}

