.slick-dots {
  position: relative;
  left: 40%;
  bottom: 30px;
  display: block;
  padding: 1rem 0;
  list-style-type: none;
  @include media-breakpoint-down(md) {
    left: 45%;
  }
  @include media-breakpoint-up(md) {
    left: 80%;
    bottom: 80px;
  }
  li {
    display: inline-block;
    margin: 0 0.25rem;
    &:only-child {
      display: none;
    }
  }
  button {
    display: block;
    width: 1rem;
    height: 1rem;
    padding: 0;
    border: none;
    border-radius: 100%;
    background-color: $gray-100;
    text-indent: -9999px;
  }
  li.slick-active button {
    background-color: $green;
  }
}

.slick-prev {
  display: none !important;
  position: absolute;
  left: 10px !important;
  @include media-breakpoint-up(lg) {
    left: 180px !important;
  }
  top: 40%;
  border: none;
  background: transparent;
  z-index: 2;
  height: 34px;
  @include media-breakpoint-up(md) {
    display: block !important;
  }
  cursor: pointer;
}
.slick-next {
  display: none !important;
  position: absolute;
  right :25px;
  @include media-breakpoint-up(lg) {
    right: 180px !important;
  }
  top: 40%;
  border: none;
  background: transparent;
  z-index: 2;
  height: 34px;
  @include media-breakpoint-up(md) {
    display: block !important;
  }
  cursor: pointer;
}
